/* line 8, ../sass/style.scss */
.cal_report .stats ul {
  padding-left: 0 !important;
}
/* line 13, ../sass/style.scss */
.cal_report .numbers table {
  width: 200px !important;
}
/* line 17, ../sass/style.scss */
.cal_report .better {
  padding-top: 7px !important;
}
/* line 20, ../sass/style.scss */
.cal_report .item {
  margin-top: 0 !important;
}
/* line 22, ../sass/style.scss */
.cal_report .item p {
  padding-bottom: 0 !important;
}
/* line 26, ../sass/style.scss */
.cal_report .info {
  height: 360px !important;
  margin-bottom: 25px !important;
}
/* line 29, ../sass/style.scss */
.cal_report .info ul {
  padding-left: 25px !important;
}
/* line 33, ../sass/style.scss */
.cal_report #menu-main-navigation-1 {
  margin-top: 5px !important;
  padding-left: 2px !important;
  padding-bottom: 4px !important;
}
/* line 39, ../sass/style.scss */
.cal_report #menu-main-navigation-1 li a:hover {
  border: none !important;
}
/* line 42, ../sass/style.scss */
.cal_report #menu-main-navigation-1 li a small {
  font-size: 11px !important;
}
/* line 48, ../sass/style.scss */
.cal_report .footer-header {
  padding: 0px 15px !important;
}
/* line 50, ../sass/style.scss */
.cal_report .footer-header h4 {
  padding: 0 !important;
}
/* line 54, ../sass/style.scss */
.cal_report .footer-cal {
  margin-top: 0 !important;
}
/* line 57, ../sass/style.scss */
.cal_report .help {
  height: auto !important;
}
/* line 60, ../sass/style.scss */
.cal_report .help ul li {
  width: 247px !important;
}
/* line 64, ../sass/style.scss */
.cal_report .help #menu-item-162 {
  width: 498px !important;
}
/* line 67, ../sass/style.scss */
.cal_report .help #menu-item-171 a {
  padding-bottom: 40px !important;
}
/* line 71, ../sass/style.scss */
.cal_report .help #menu-item-174 a {
  padding-bottom: 10px !important;
}
/* line 77, ../sass/style.scss */
.cal_report .help .item-phone a:after {
  top: 85px !important;
}
