@import "_partials/mixins";
@import "_partials/variables";



.cal_report{
	.stats{
		ul{
			padding-left:0 !important;
		}
	}
	.numbers{
		table{
			width:200px !important;
		}
	}
	.better{
		padding-top:7px !important;
	}
	.item{
		margin-top:0 !important;
		p{
			padding-bottom:0 !important;
		}
	}
	.info{
		height:360px !important;
		margin-bottom:25px !important;
		ul{
			padding-left:25px !important;
		}
	}
	#menu-main-navigation-1{
		margin-top:5px !important;
		padding-left:2px !important;
		padding-bottom:4px !important;
		li{
			a{
				&:hover{
					border:none !important;
				}
				small{
					font-size: 11px !important;
				}
			}
		}
	}
	.footer-header{
		padding:0px 15px !important;
		h4{
			padding:0 !important;
		}
	}
	.footer-cal{
		margin-top:0 !important;
	}
	.help{
		height:auto !important;
		ul{
			li{
				width:247px !important;
			}
		}
		#menu-item-162{
			width:498px !important;
		}
		#menu-item-171 a {
    		padding-bottom: 40px !important;
		}
		#menu-item-174{
			a{
				padding-bottom: 10px !important;
			}
		}
		.item-phone{
			a{
				&:after{
					top:85px !important;
				}
			}
		}
	}
}